In [18]:
import yfinance

In [19]:
import warnings
warnings.filterwarnings("ignore")

In [56]:
raw_data = yfinance.download (tickers = "^GSPC ^FTSE ^N225 ^GDAXI", #The time series we are interested in - (in our case, these are the S&P, FTSE, NIKKEI and DAX)
                              start = "1994-01-07", #The starting date of our data set
                              end = "2020-04-14", #The ending date of our data set (at the time of upload, this is the current date)
                              interval = "1d", #The distance in time between two recorded observations. Since we're using daily closing prices, we set it equal to "1d", which indicates 1 day. 
                              group_by = 'ticker', #The way we want to group the scraped data. Usually we want it to be "ticker", so that we have all the information about a time series in 1 variable.
                              auto_adjust = True, #Automatically adjusts the closing prices for each period. 
                              treads = True) #Whether to use threads for mass downloading.

[*********************100%***********************]  4 of 4 completed

In [57]:
df_comp = raw_data.copy()

In [59]:
# Adding new columns to the data set
df_comp['spx'] = df_comp['^GSPC'].Close
df_comp['dax'] = df_comp['^GDAXI'].Close
df_comp['ftse'] = df_comp['^FTSE'].Close
df_comp['nikkei'] = df_comp['^N225'].Close

In [60]:
df_comp = df_comp.iloc[1:] # Removing the first elements, since we always start 1 period before the first, due to time zone differences of closing prices
del df_comp['^N225']  # Removing the original tickers of the data set
del df_comp['^GSPC']
del df_comp['^GDAXI']
del df_comp['^FTSE']
df_comp=df_comp.asfreq('b') # Setting the frequency of the data
df_comp=df_comp.fillna(method='ffill') # Filling any missing values

In [61]:
df_comp

                    spx           dax         ftse        nikkei

Date
1994-01-07   469.899994   2224.949951  3446.000000  18124.009766
1994-01-10   475.269989   2225.000000  3440.600098  18443.439453
1994-01-11   474.130005   2228.100098  3413.800049  18485.250000
1994-01-12   474.170013   2182.060059  3372.000000  18793.880859
1994-01-13   472.470001   2142.370117  3360.000000  18577.259766
...                 ...           ...          ...           ...
2020-04-07  2659.409912  10356.700195  5704.500000  18950.179688
2020-04-08  2749.979980  10332.889648  5677.700195  19353.240234
2020-04-09  2789.820068  10564.740234  5842.700195  19345.769531
2020-04-10  2789.820068  10564.740234  5842.700195  19498.500000
2020-04-13  2761.629883  10564.740234  5842.700195  19043.400391

[6852 rows x 4 columns]

In [64]:
df_comp.isnull().sum()

spx         0
dax         0
ftse        0
nikkei      0
dtype: int64

In [65]:
df_comp

                    spx           dax         ftse        nikkei

Date
1994-01-07   469.899994   2224.949951  3446.000000  18124.009766
1994-01-10   475.269989   2225.000000  3440.600098  18443.439453
1994-01-11   474.130005   2228.100098  3413.800049  18485.250000
1994-01-12   474.170013   2182.060059  3372.000000  18793.880859
1994-01-13   472.470001   2142.370117  3360.000000  18577.259766
...                 ...           ...          ...           ...
2020-04-07  2659.409912  10356.700195  5704.500000  18950.179688
2020-04-08  2749.979980  10332.889648  5677.700195  19353.240234
2020-04-09  2789.820068  10564.740234  5842.700195  19345.769531
2020-04-10  2789.820068  10564.740234  5842.700195  19498.500000
2020-04-13  2761.629883  10564.740234  5842.700195  19043.400391

[6852 rows x 4 columns]

In [67]:
df_comp.to_csv('yfinance_2020_apr_14.csv', index= True)